.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.about--r {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
  background-color: var(--color-primary);
}

.about--r ::selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.contact--link {
  margin-top: 3rem;
}

.contact--link .btn {
  background-color: var(--color-dark);
}

.contact--link .btn:hover {
  background-color: var(--color-light);
}

@media screen and (max-width: 1456px) {
  .about--r {
    font-size: 2.3rem;
    gap: 2rem;
    padding: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  .about {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 385px) {
  .about--r {
    padding: 2rem;
  }
}
