.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill {
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
  font-weight: 500;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.skill:hover {
  transform: translateY(-1rem);
}

.skill--img {
  width: 50%;
}
